<div class="max-w-[700px]">
   <p class="text-lg  text-wrap opacity-80">
      <span>Soy Analista Programador</span> en la última etapa de mi formación, con experiencia práctica en desarrollo de software y manejo de tecnologías modernas.Me especializo en diseñar e implementar soluciones tecnológicas eficientes, manejando bases de datos, patrones de diseño como MVC, y frameworks actuales.Me gusta trabajar en equipo, comunicarme de manera clara con todos. Gracias a eso me adapto rápido a equipos disciplinados y siempre busco aportar ideas para mejorar procesos.
   </p>
</div>
