<div class="w-full max-w-[700px] px-4">
   <p class="text-base sm:text-lg leading-relaxed text-wrap text-text-secondary">
      <strong class="text-primary">Soy Analista Programador</strong> en la última etapa de mi formación, con experiencia práctica en desarrollo de software y manejo de tecnologías modernas.
   </p>
   <p class="text-base sm:text-lg leading-relaxed text-wrap text-text-secondary mt-4">
      Me especializo en diseñar e implementar soluciones tecnológicas eficientes, manejando bases de datos, patrones de diseño como MVC, y frameworks actuales. Me gusta trabajar en equipo, comunicarme de manera clara con todos. Gracias a eso me adapto rápido a equipos disciplinados y siempre busco aportar ideas para mejorar procesos.
   </p>
</div>
