---
interface Props {
  title: string;
  description: string;
  date: string;
  link: string;
  index?: number;
}
const { title, description, date, link, index = 0 } = Astro.props;
---

<p class="text-gray-100 dark:text-gray-300">{date}
  <br/></p>
  <h3 class="text-lg font-semibold text-yellow-100">{title}</h3>
<p class=" text-base font-normal text-gray-300 dark:text-gray-400">{description}</p>

<hr x-data="{}" x-show={index < 3} class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">


