---
import logo from '../assets/logo.jpg';
---

<header x-data="{ open: false }" class="relative flex justify-between items-center py-2 w-full xl:w-[1000px] mx-auto px-4 md:px-8">
    <img class="rounded-full w-12 h-12" src={logo.src} alt="PortaStro"/>

    <button @click="open = !open" class="md:hidden text-white text-2xl">
        ☰
    </button>

    <nav :class="open ? 'flex' : 'hidden md:flex'"
        class="absolute top-full left-0 w-full bg-black bg-opacity-90 flex flex-col items-center gap-4 py-4 md:relative md:top-0 md:flex-row md:bg-transparent md:w-auto md:gap-x-8 opacity-80 transition-all duration-300">
        <a href="#top">Inicio</a>
        <a href="#Experiencia">Experiencia</a>
        <a href="#Proyectos">Proyectos</a>
        <a href="#Sobre-mi">Sobre Mi</a>
        <a href="mailto:jjng0812@gmail.com?subject=Contacto desde Portfolio">Contacto</a>
    </nav>
</header>


