---
import logo from '../assets/logo.jpg';
---

<header class="flex justify-between items-center py-2 w-full xl:w-[1000px] mx-auto ">
    <img class="rounded-full w-12 h-12" src={logo.src} alt="PortaStro"/>



    <nav class="flex flex-row gap-x-8 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#Experiencia">Experiencia</a>
        <a href="#Proyectos">Proyectos</a>
        <a href="#Sobre-mi">Sobre Mi</a>
        <a href="mailto:jjng0812@gmail.com?subject=Contacto desde Portfolio">Contacto</a>
    </nav>
</header>
