---
import Badge from './Badge.astro';
import SectionContainer from './SectionContainer.astro';
import Linkedin from '../icons/Linkedin.astro';
import Github from '../icons/Github.astro';
import Mail from '../icons/Mail.astro';
import Experience from './Experience.astro';
import StailUp from '../icons/StailUp.astro';
import CodeIcon from '../icons/Code.astro';
import Project from './Projects.astro';
import AboutIcon from '../icons/AboutIcon.astro';
import About from './Aboutme.astro';
---


<main class="px-2">
<SectionContainer id="top">
	<h1 class="text-white text-2xl lg:text-5xl md-text-4xl font-bold flex flex-row gap-x-4 pb-6">Hey, soy Javier Nieves 
		<a href="https://www.linkedin.com/in/javier-nieves-898543286/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a>
	</h1>
	<h2 class="text-xl lg:text2xl text-wrap max-w-[700px]"><span>Mas de 2 años de experencia.</span> <span class="text-blue-200/70">Desarrollador Full stack, Residenciado
		en Santiago de Chile.</span> <span class="text-red-100/90">Me especializo en crear soluciones precisas.</span>
	</h2>

	<nav class="flex gap-2 mt-4">
		
			<a class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-3 bg-white/5 hover:scale-110 hover:bg-white/10 transition" href="https://www.linkedin.com/in/javier-nieves-898543286/" target="_blank">
			<Linkedin class="size-4 md:size-6" />
			LinkedIn
			</a>
		
			<a class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-3 bg-white/5 hover:scale-110 hover:bg-white/10 transition" href="https://github.com/Jjng08" target="_blank">
			<Github class="size-4 md:size-6" />
			GitHub
			</a>
		
			<a class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-3 bg-white/5 hover:scale-110 hover:bg-white/10 transition" href="https://mail.google.com/mail/?view=cm&fs=1&to=jjng0812@gmail.com&su=Contacto" target="_blank">
				<Mail class="size-4 md:size-6" />
				Email
			</a>
	</nav>
	</SectionContainer>
	<SectionContainer id="Experiencia">
		
		<h2 class="text-2xl font-semibold mb-6 gap-x-2 flex items-center">
			<StailUp class="size-6"/>
			Experiencia
		</h2>
		<Experience />
	</SectionContainer>
	<SectionContainer id="Proyectos">
		<h2 class="text-2xl font-semibold mb-6 gap-x-2 flex items-center">
			<CodeIcon class="size-6"/>
			Proyectos
		</h2>
		<Project />
	</SectionContainer>
	<SectionContainer id="AboutMe">
		<h2 class="text-2xl font-semibold mb-6 gap-x-2 flex items-center">
			<AboutIcon class="size-6"/>
			Sobre Mi
		</h2>
		<About />
	</SectionContainer>

</main>

	


