---
import Badge from './Badge.astro';
import background from '../assets/background.svg';
---


<main >
	<section class="w-full mx-auto lg:w-[740px] py-40">
	<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-6">Hey, soy Javier Nieves 
		<a href="https://www.linkedin.com/in/javier-nieves-898543286/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a>
	</h1>
	<h2 class="text-xl opacity-80">Mas de 2 años de experencia. Desarrollador Full stack, Residenciado
		en Santiago de Chile. Me especializo en crear soluciones precisas.
	</h2>
	</section>
</main>

	


